# See http://help.github.com/ignore-files/ for more about ignoring files.# dependenciesnode_modules# testingcoverage# productionbuildpublic/scheduler-unstable_mock.development.jspublic/scheduler-unstable_mock.production.min.jspublic/react.development.jspublic/react.production.min.jspublic/react-dom.development.jspublic/react-dom.production.min.jspublic/react-dom-server.browser.development.jspublic/react-dom-server.browser.production.min.jspublic/react-dom-test-utils.development.jspublic/react-dom-test-utils.production.min.js# misc.DS_Store.envnpm-debug.log