#Seehttps://help.github.com/ignore-files/formoreaboutignoringfiles.#dependencies/node_modules#testing/coverage#production/build#misc.DS_Store.env.local.env.development.local.env.test.local.env.production.localnpm-debug.log*yarn-debug.log*yarn-error.log*public/react.development.jspublic/react-dom.development.js